.price-details-container {
  align-self: flex-start;
  background-color: var(--background-color);
  padding: 1.5rem;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  justify-content: center;
  
}

.guests {
  border: 1px solid var(--container-border-color);
  padding: 4px 0;
  text-align: left;
}

.gutter-sm {
  padding: 8px 1rem;
}

.btn-reserve {
  width: 100%;
  padding: 1rem;
}

.price-distribution {
  padding-top: 1rem;
}

.final-price {
  padding: 10px;
}

.final-price:last-child {
  border-top: 1px solid var(--container-border-color);
}

.justify-space-between {
  justify-content: space-between;
}

.guest-count-input {
  border: none;
}

.guest-count-input:focus {
  outline: none;
}


@media screen and (max-width: 800px) {

  .authcontainer{
     position: absolute;
     width: 88vw;
     height: 80vh;
     left: 6vw;
    justify-content: center;
  }

  .price-details-container{
  width: 95vw;
    
  }

.checkout{
  padding: relative;
  margin-left: -25vw;
}  


}